.varsity_man800x600_copy {
  background-image: url("varsity_man800x600 copy.png");
  position: absolute;
  left: 2121px;
  top: 1461px;
  width: 265px;
  height: 265px;
  z-index: 17;
}
.YOU_MAY_ALSO_LIKE {
  font-size: 22px;
  font-family: "Open Sans";
  color: rgb(44, 48, 61);
  font-weight: bold;
  line-height: 1.477;
  text-align: center;
  position: absolute;
  left: 1549.891px;
  top: 1101.753px;
  z-index: 87;
}
.Share_it_ {
  font-size: 18px;
  font-family: "Open Sans";
  color: rgb(44, 135, 206);
  font-weight: bold;
  line-height: 0.889;
  position: absolute;
  left: 2114.156px;
  top: 740.999px;
  z-index: 138;
}
.add_to_cart {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 2541px;
  height: 3200px;
  z-index: 94;
}
.add_to_cart {
  font-size: 5px;
  font-family: "Open Sans";
  color: rgb(44, 48, 61);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 2.209;
  text-align: center;
  -moz-transform: matrix( 2.76995497839734,0,0,2.76995497839733,0,0);
  -webkit-transform: matrix( 2.76995497839734,0,0,2.76995497839733,0,0);
  -ms-transform: matrix( 2.76995497839734,0,0,2.76995497839733,0,0);
  position: absolute;
  left: 2093.544px;
  top: 1015.418px;
  z-index: 93;
}
.Shape_180 {
  background-color: rgb(138, 230, 207);
  position: absolute;
  left: 2005px;
  top: 999px;
  width: 214px;
  height: 44px;
  z-index: 92;
}
.background {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 2541px;
  height: 3200px;
  z-index: 11;
}
.title {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 2541px;
  height: 3200px;
  z-index: 10;
}
.Responsive_PSD_Template {
  font-size: 30.706px;
  font-family: "Open Sans";
  color: rgb(120, 127, 132);
  line-height: 1.433;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
  -moz-transform: matrix( 1,0,0,1.00957804814911,0,0);
  -webkit-transform: matrix( 1,0,0,1.00957804814911,0,0);
  -ms-transform: matrix( 1,0,0,1.00957804814911,0,0);
  position: absolute;
  left: 153.513px;
  top: 192.687px;
  width: 377.069px;
  height: 31px;
  z-index: 9;
}
.Gray_Row {
  background-image: url("Gray Row.png");
  position: absolute;
  left: 622px;
  top: 103px;
  width: 1919px;
  height: 123px;
  z-index: 8;
}
.requirements {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 2541px;
  height: 3200px;
  z-index: 6;
}
.Additional_Requirements {
  font-size: 17px;
  font-family: "Myriad Pro";
  color: rgb(120, 127, 132);
  font-weight: bold;
  line-height: 1.2;
  position: absolute;
  left: 904.844px;
  top: 244.057px;
  z-index: 5;
}
.Main_Requirements {
  font-size: 17px;
  font-family: "Myriad Pro";
  color: rgb(120, 127, 132);
  font-weight: bold;
  line-height: 1.2;
  position: absolute;
  left: 101.844px;
  top: 244.057px;
  z-index: 4;
}
.Background {
  background-image: url("Background.png");
  position: absolute;
  left: 0px;
  top: 0px;
  width: 2541px;
  height: 3200px;
  z-index: 2;
}
.For_gamers_by_gamers_TEE {
  font-size: 4.646px;
  font-family: "Oswald";
  color: rgb(44, 48, 61);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.25;
  text-align: left;
  -moz-transform: matrix( 5.16554755739284,-0.00633012770368,0,5.1655475573928,0,0);
  -webkit-transform: matrix( 5.16554755739284,-0.00633012770368,0,5.1655475573928,0,0);
  -ms-transform: matrix( 5.16554755739284,-0.00633012770368,0,5.1655475573928,0,0);
  position: absolute;
  left: 2132.938px;
  top: 636.523px;
  z-index: 155;
}
.Shape_180 {
  background-color: rgb(138, 230, 207);
  position: absolute;
  left: 2005px;
  top: 999px;
  width: 214px;
  height: 44px;
  z-index: 92;
}
.add_to_cart {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 2541px;
  height: 3200px;
  z-index: 94;
}
.add_to_cart {
  font-size: 5px;
  font-family: "Open Sans";
  color: rgb(44, 48, 61);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 2.209;
  text-align: center;
  -moz-transform: matrix( 2.76995497839734,0,0,2.76995497839733,0,0);
  -webkit-transform: matrix( 2.76995497839734,0,0,2.76995497839733,0,0);
  -ms-transform: matrix( 2.76995497839734,0,0,2.76995497839733,0,0);
  position: absolute;
  left: 2093.544px;
  top: 1015.418px;
  z-index: 93;
}
.Shape_180 {
  background-color: rgb(138, 230, 207);
  position: absolute;
  left: 2005px;
  top: 999px;
  width: 214px;
  height: 44px;
  z-index: 92;
}

